html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #00695c;
}
@font-face {
  font-family: Roboto;
  src: url(/Roboto/Roboto-Regular.ttf) format(truetype);
}
.mainContainer {
  height: 100vh;
}
.container {
  width: 50%;
  height: 30rem;
  background: #80deea;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputContainer {
  justify-content: space-around;
  margin-top: 5rem;
}
.firstNme {
  position: relative;
}
.firstNameLable {
  position: absolute;
  top: -1.4rem;
  left: 3rem;
  font-family: Roboto;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  color: #004d40;
  background-color: #80deea;
}
.firstNameInput {
  padding: 0.8rem;
  width: 25rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #80deea;
  border: 0.4rem solid #00695c;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.lastName {
  position: relative;
}
.lastNameLable {
  position: absolute;
  top: -1.4rem;
  left: 3rem;
  font-family: Roboto;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  color: #004d40;
  background-color: #80deea;
}
.lastNameInput {
  padding: 0.8rem;
  width: 25rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #80deea;
  border: 0.4rem solid #00695c;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.btnContainer {
  margin-top: 3rem;
}
.btn {
  padding: 1rem 2rem;
  outline: none;
  border: 0.4rem solid #004d40;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  font-family: Roboto;
  background: #80deea;
  color: #004d40;
  font-weight: 600;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 250ms ease-in 20ms;
  -webkit-transition: all 250ms ease-in 20ms;
  -moz-transition: all 250ms ease-in 20ms;
  -ms-transition: all 250ms ease-in 20ms;
  -o-transition: all 250ms ease-in 20ms;
}
button.btn:hover {
  background: #00897b;
  color: #e0f2f1;
  border: 0.4rem solid #e0f2f1;
}
.modalErrorInput {
  position: fixed;
  top: 3rem;
  right: 52rem;
  background-color: #fbe9e7;
  color: #bf360c;
  border: 0.4rem solid #bf360c;
  font-size: 2rem;
  font-family: Roboto;
  font-weight: 600;
  letter-spacing: 0.2rem;
  width: 45rem;
  height: 10rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: none;
}
